html
  head
    title='Blah blah'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello hello
        p Click the button
        p
          a.btn.btn-primary(href="http://www.daniellundekvam.com") Daniel
        p
